@model Controlinventarioissn.Data.Entities.Delegacion

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <<partial name="_DelegacionDetails" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar Delegación</a> |
    <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
</div>
